body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #007acc;
  color: white;
}

main {
  background: url('./components/bg.gif') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8;
  color: white;
  padding: 20px;
  min-height: calc(100vh - 140px); /* Adjust height to fill the screen */
}